source /opt/asdf-vm/asdf.sh

PATH_add $HOME/apps/dry_yay
PATH_add $HOME/.asdf/installs/poetry/1.1.11/bin
PATH_add $HOME/.asdf/installs/elixir/1.11.4/.mix/escripts

export CLOUDSDK_PYTHON=/usr/bin/python
